@using Ofqual.Recognition.Frontend.Web.ViewModels
@model ValidationViewModel

@{
    var errors = Model?.Errors;
    var hasErrors = errors != null && errors.Any();
}

<div class="govuk-error-summary @(hasErrors ? "" : "govuk-!-display-none")"
     data-module="govuk-error-summary"
     id="error-summary">

    <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @if (errors != null)
                {
                    foreach (var error in errors)
                    {
                        <li>
                            <a href="#@error.PropertyName">@error.ErrorMessage</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
