@using Ofqual.Recognition.Frontend.Web.ViewModels.ApplicationAnswers
@using Ofqual.Recognition.Frontend.Core.Helpers
@model QuestionAnswerListViewModel

<div class="govuk-summary-list">
    @foreach (var item in Model.Items)
    {
        var answer = ViewHelpers.GetAnswerValue(item.Answer);

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">@item.Question</dt>
            <dd class="govuk-summary-list__value">
                @if (answer is IEnumerable<string> collection)
                {
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var val in collection)
                        {
                            <li>@val</li>
                        }
                    </ul>
                }
                else
                {
                    @answer
                }
            </dd>
            @if (!Model.IsReadOnly)
            {
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@item.ChangeUrl">Change<span class="govuk-visually-hidden"> @item.Question</span></a>
                </dd>
            }
        </div>
    }
</div>