@{
    ViewData["Title"] = "Apply to have your qualifications regulated";
    ViewData["HeaderTitle"] = "Apply to have your qualifications regulated";

    Layout = "_GovUkPageTemplate";
}

@section Header {
    <!-- Start Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDomains", ["apply-to-have-your-qualifications-regulated.ofqual.gov.uk", "*.ofq-prod-app-recognition-ofqual.azurewebsites.net", "*.ofq-preprod-app-recognition-ofqual.azurewebsites.net", "*.ofq-dev-app-recognition-ofqual.azurewebsites.net"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);

        (function() {
            var u="https://ofqual.matomo.cloud/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '12']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src='https://cdn.matomo.cloud/ofqual.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo -->
    @await Html.PartialAsync("_AnalyticsCookieBannerPartial.cshtml")
    @await Html.PartialAsync("_HeaderPartial.cshtml")
    <div class="govuk-width-container">
        @await Html.PartialAsync("_PhaseBannerPartial.cshtml")
        @await RenderSectionAsync("Backlink", required: false)
    </div>
}

@RenderBody()

@section Footer {
    @await Html.PartialAsync("_FooterPartial.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript" src="~/js/analytics.js" asp-append-version="true"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            checkMatomoCookie();
        });

        if (window.history.length < 2) {
            const backLink = document.getElementById("back");
            if (backLink) {
                backLink.style.display = "none";   
            }
        }

        document.getElementById("back")?.addEventListener("click", () => {
            history.back();
        });

        checkMatomoCookie();
    </script>
}
