@using Ofqual.Recognition.Frontend.Web.ViewModels
@model QuestionViewModel

@if (Model?.QuestionContent?.HelpBox?.Any() == true)
{
    <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Help with this section</h3>

            @foreach (var helpItem in Model.QuestionContent.HelpBox.Where(h => h.IsLink))
            {
                <p class="govuk-body-s">
                    <a href="@helpItem.RedirectUrl" target="_blank">@helpItem.Name (opens in a new tab)</a>
                </p>
            }

            @foreach (var helpItem in Model.QuestionContent.HelpBox.Where(h => h.IsText))
            {
                <h3 class="govuk-heading-s">@helpItem.Heading</h3>
                <p class="govuk-body-s">@helpItem.Body</p>
            }
        </div>
    </div>
}