@model Ofqual.Recognition.Frontend.Web.ViewModels.Question.QuestionViewModel
@{
    ViewData["Title"] = "TextBoxPartial";
}

<div>
    <h2>@Model.name</h2>
    <p>@Model</p>
    <!-- Add more task details here -->
</div>
