@using Ofqual.Recognition.Frontend.Web.ViewModels
@using Ofqual.Recognition.Frontend.Core.Constants
@using Ofqual.Recognition.Frontend.Core.Helpers
@using Ofqual.Recognition.Frontend.Core.Enums
@model QuestionViewModel
@{
    string? backLinkUrl = null;

    if (!string.IsNullOrEmpty(Model.RedirectUrl))
    {
        backLinkUrl = Model.RedirectUrl;
    }
    else if (Model.PreviousQuestionUrl != null)
    {
        backLinkUrl = $"../{Model.PreviousQuestionUrl}";
    }
    else if (Model.FromPreEngagement)
    {
        backLinkUrl = RouteConstants.PreEngagementConstants.PRE_ENGAGEMENT_PATH;
    }
    else
    {
        backLinkUrl = RouteConstants.ApplicationConstants.TASK_LIST_PATH;
    }
}

@section BackLink {
    <a href="@backLinkUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Html.PartialAsync($"~/Views/Shared/Question/Validation/_ErrorSummary.cshtml", Model.Validation)

        @await Html.PartialAsync($"~/Views/Shared/Question/Body/_Body.cshtml", Model.QuestionContent.Body)

        @await Html.PartialAsync($"~/Views/Shared/Question/Review/_ApplicationReview.cshtml", Model)

        @await Html.PartialAsync($"~/Views/Shared/Question/FormGroup/_FormGroup.cshtml", Model)     
    </div>
    @await Html.PartialAsync($"~/Views/Shared/Question/Sidebar/_Sidebar.cshtml", Model.QuestionContent.Sidebar)
</div>