@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apply to have your qualifications regulated
        </h1>
        <h2 class="govuk-heading-m">
            Terms and conditions
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Privacy Policy
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Terms and conditions
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m">
            Application details
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Contact details
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Organisation details
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Qualifications or EPAs you want to be regulated for
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Why do you want to be regulated by Ofqual?
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m">
            Criteria A: Identity, constitution and governance
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Criteria A.1-3 - Identity and Constitution
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria A.4 - Organisation and governance
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria A.5 - Conflicts of interest
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria A.6 - Governing body oversight
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria A - Upload supporting evidence
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m">
            Criteria B: Integrity
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Criteria B.1 - Declaration of integrity of the applicant
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria B.2 - Declaration of integrity of senior officers
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria B - Integrity
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria B - Upload supporting evidence
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m">
            Criterea C: Resources and Financing
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Criteria C.1 (a) - Systems, processes and resources
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria C.1 (b) - Financial resources and facilities
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria C - Upload supporting evidence
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m">
            Criteria D: Competence
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Criterion D.1 (a) - Development, delivery and awarding of qualifications
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria D.1 (b) - Validity, Reliability, Comparability, Manageability and Minimising Bias
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criterion D.1 (c) - Qualification compatibility with Equalities Law
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Criteria D - Upload supporting evidence
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
        <h2 class="govuk-heading-m">
            Review and submit
        </h2>
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="check-your-answers" aria-describedby="company-details-1-status">
                        Review application
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
                        Declaration and submit
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                    </strong>
                </div>
            </li>
        </ul>
    </div>
</div>