@using Ofqual.Recognition.Frontend.Core.Models
@using Ofqual.Recognition.Frontend.Core.Extensions

@model List<TaskItemStatusSection>

@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

@section BackLink {
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
}

<h1 class="govuk-heading-l">Check your answers</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Details of your organisation's legal entity
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="text-align: center">
                    @Model
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Details of your organisation's legal entity</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Companies house number
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="text-align: center">
                    @Model
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Companies house number</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Explain how you meet criteria A.1, A.2 and A.3 - Identity and Constitution
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="text-align: center">
                    @Model
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Explain how you meet criteria A.1, A.2 and A.3 - Identity and Constitution</span></a>
                </dd>
            </div>
        </dl>
        <div class="govuk-form-group">
            <form method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Have you completed this section?
                        </h2>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes" name="Yes" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="yes">
                                Yes, I've completed this section
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="No" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="no">
                                No, I'll come back to it later
                            </label>
                        </div>
                    </div>
                    <br />
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button">Save and continue</button>
                        <a class="govuk-link" href="/application/tasks">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>