@using Ofqual.Recognition.Frontend.Web.ViewModels.PreEngagement

@model List<PreEngagementAnswerModel>

<h2>Cache</h2>

@foreach (var answer in Model)
{
    <h3>Task Name: @answer.CurrentTaskNameUrl</h3>
    <pre>@answer.AnswerJson</pre>
}