@using Ofqual.Recognition.Frontend.Core.Constants

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Engagement information has been sent to your email address
            </h1>
        </div>
        <p class="govuk-body">Use the information in the email to get started with your pre-application engagement.</p>
        <p class="govuk-body">In the meantime you can look through the application tasks and prepare any questions you may have for us.</p>
        <p class="govuk-body">Once you have finished the initial stages of the engagement process, confirm you are ready to continue by marking this section as completed.

        <a href="@RouteConstants.ApplicationConstants.TASK_LIST_PATH" role="button" draggable="false" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" data-govuk-button-init="">
            Return to application
        </a>
    </div>
</div>
