<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Eligible
        </h1>
        <p class="govuk-body">
            Based on your responses your organisation is eligible to apply to have your qualifications regulated.
        </p>
        <h2 class="govuk-heading-m">
            What happens next
        </h2>
        <p class="govuk-body">
            You can now create an account and start the application process.
            <br /><br />
            As part of the process you can choose to attend a webinar and schedule a meeting with our recognition engagement team, to help you understand the full application process in more detail.
        </p>
        <a href="https://recognition.ofqual.gov.uk" type="submit" class="govuk-button">Create an account</a>
    </div>
</div>