@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Not Eligible
        </h1>

        <p class="govuk-body">
            Based on your responses your organisation may not eligible to apply to have your qualifications regulated.
        </p>

        @* TODO *@

        <h2 class="govuk-heading-m">
            What happens next
        </h2>

        <p class="govuk-body">
            If you have any questions or need further information you can <a class="govuk-link" href="https://www.gov.uk/guidance/contact-ofqual">contact us</a>.
            <br /><br />
            You can also <a class="govuk-link" href="QuestionCheck" >review and change your answers</a>.
        </p>
    </div>
</div>