@model Ofqual.Recognition.Frontend.Web.Models.EligibilityModel

@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Not Eligible
        </h1>
        <p class="govuk-body">
            Ofqual cannot regulate the qualifications your organisation proposes to offer because you have indicated:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            @if (Model.QuestionOne == "No")
            {
                <li>
                    <p class="govuk-body">That you intend to offer training, which is not assessed, rather than qualifications</p>
                </li>
            }
            @if (Model.QuestionTwo == "No")
            {
                <li>
                    <p class="govuk-body">That your organisation does not have the necessary presence in a relevant territory</p>
                </li>
            }
            @if (Model.QuestionThree == "No")
            {
                <li>
                    <p class="govuk-body">That you do not intend to offer qualifications to learners in England</p>
                </li>
            }
        </ul>
        <h2 class="govuk-heading-m">
            What happens next
        </h2>
        <p class="govuk-body">
            If you do not think these statements apply, you may need to <a class="govuk-link" href="QuestionCheck">review and change your answers</a>.
            <br /><br />
            If you have any questions or need further information you can <a class="govuk-link" href="https://www.gov.uk/guidance/contact-ofqual">contact us</a>.
        </p>
    </div>
</div>