@model Ofqual.Recognition.Frontend.Web.Models.EligibilityModel

@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<link rel="stylesheet" href="~/css/stepper.css" asp-append-version="true">

<h1 class="govuk-heading-l">Check your answers</h1>
<div class="govuk-grid-row">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-grid-column-two-thirds">
            <dt class="govuk-summary-list__key">
                Do you award or intend to award qualifications?
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.QuestionOne
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="QuestionOne">Change<span class="govuk-visually-hidden"> QuestionOne</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-grid-column-two-thirds">
            <dt class="govuk-summary-list__key">
                Is your organisation based in the UK, Gibraltar or an EU or EFTA member state, or if not, does your organisation have a substantial presence in one of those territories?
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.QuestionTwo
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="QuestionTwo">Change<span class="govuk-visually-hidden"> QuestionTwo</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-grid-column-two-thirds">
            <dt class="govuk-summary-list__key">
                Do you intend to make qualifications available to learners in England?
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.QuestionThree
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="QuestionThree">Change<span class="govuk-visually-hidden"> QuestionThree</span></a>
            </dd>
        </div>
    </dl>
    <form method="post" asp-action="QuestionSubmit">
        <button type="submit" class="govuk-button">Continue</button>
    </form>
</div>