@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Question 3/3</span>
        <div class="govuk-form-group" @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
            <form method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do the qualifications you are seeking to be recognised to offer as regulated qualifications suitably assess the attainment of learners?
                        </h1>
                        <br />
                        <p class="govuk-body">
                            We do not regulate courses that do not include an assessment of a learners attainment related to the specific knowledge, skills and behaviours.
                            <br /><br />
                            For example we do not regulate courses which are awarded based on attendance or number of hours completed.
                            <br /><br />
                            Your qualifications need to suitably assess the attainment of learners in order to be considered for regulation.
                        </p>
                    </legend>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message">
                            @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
                        </span>
                    }

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="yes" name="questionThree" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="no" name="questionThree" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                    <br /><br />
                    <button type="submit" class="govuk-button">Continue</button>
                </fieldset>
            </form>
        </div>
    </div>
<div>