@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <form method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Is your organisation ordinarily resident in, or have a substantial presence in the UK, Gibraltar, and/or EU or EFTA member state?
                        </h1>
                        <br />
                        <p class="govuk-body">
                            Your organisation has to operate in and be registered with appropriate authorities within the United Kingdom (UK), Gibraltar, the European Union (EU) or European Free Trade Association (EFTA).
                        </p>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes" name="questionOne" type="radio" value="Yes" required>
                            <label class="govuk-label govuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="questionOne" type="radio" value="No" required>
                            <label class="govuk-label govuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                    <br /><br />
                    <button type="submit" class="govuk-button">Continue</button>
                </fieldset>
            </form>
        </div>
    </div>
<div>