@using System.Security.Principal;

@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
} 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apply to have your qualifications recognised
        </h1>
        <h2 class="govuk-heading-m">
            About this service
        </h2>
        <p class="govuk-body">
            This service is currently in private beta. Use this service and support its continuous improvement.
        </p>

        <a asp-controller="Eligibility" asp-action="start" class="govuk-button govuk-button--start">Start now</a>

        @if (User.Identity?.IsAuthenticated == true){
            <p>You didn't fuck up the auth!</p>
            <a asp-area="MicrosoftIdentity" asp-controller="OfqualAccount" asp-action="SignOut" class="govuk-link">Sign Out Test</a>
        } else {
            <a asp-area="MicrosoftIdentity" asp-controller="OfqualAccount" asp-action="SignIn" class="govuk-link">Sign In Test</a>
        }
    </div>
</div>