@{
    ViewData["Title"] = "Register of Recognised Qualifications";
    ViewData["HeaderTitle"] = "Register of Recognised Qualifications";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apply to have your qualifications recognised
        </h1>

        <h2 class="govuk-heading-m">About this service</h2>
        <p class="govuk-body">This service is currently in private beta. Use this service and support its continuous improvement.</p>
    </div>
</div>