<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You have been signed out</h1>
            <p class="govuk-body govuk-body-m">You can 
                <a asp-area="MicrosoftIdentity"
                   asp-controller="OfqualAccount"
                   asp-action="SignIn"
                   id="sign-in-btn">sign in</a>
                at any time to continue with your application.
            </p>
            <p class="govuk-body govuk-body-m">
                Return to GOV.UK to <a href="https://www.gov.uk/guidance/apply-to-have-your-qualifications-regulated">
                    for information about applying to have your qualifications regulated
                </a>.
            </p>
        </div>
    </div>
</div>